@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;400&family=Roboto:wght@300&display=swap');

body{
    background:#222831;
    font-family: 'Poppins', sans-serif;
    font-size:12px;
    margin: 0;
}
  
#envoltura{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-165px;
    margin-top: -200px;
    width: 315px;
 
}
 
#contenedor{
    background-color:#2D4059;
    box-shadow: 3px 3px 10px 10px rgba(0,0,0,0.3);
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
    border-radius:5px;
}
 
#cabecera{
    border-bottom: 5px solid #2D4059;
    padding-top: 5px;
    height:25px;
    line-height:50px;
    text-align:center;
}
 
#cuerpo{
    background:#2D4059;
    border:solid #ccc;
    border-width: 0px 0;
    padding:15px 35px;
}
 
label{
    color: #EEEEEE;
    font-weight: bold
}
 
input{
    border:0px;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.8);
    height: 30px;
    line-height:100px;
    padding:0.2px;
    width:100%;
}
select{
    border:0px;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.8);
    height: 30px;
    line-height:100px;
    padding:0.2px;
    width:100%;
}
 
.boton{
    background: #ccc;
    background: -webkit-linear-gradient(top,#fc6,#f63);
    background: linear-gradient(top,#fc6,#f63);
}

.boton {
    align-items:flex-start;
    background-color:#008d4c;
    border-color:#398439;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    color:#ffffff;
    font-size:15px;
    line-height:20px;
    padding:1px;
    text-align:center;
  }

.boton:hover {
  background: #FF5722;
}

.boton:active{
    position: relative;
    top: 2px;
}

 
#pie{
    border-top: 5px solid #2D4059;
    color: #fff;
    font-size: 11px;
    height: 25px;
    line-height: 24px;
    text-align: center;
}
 
form,p{
    margin:10px;
}
 
p{
 padding-bottom: 5px;
}
 
p#bot{
    padding-top: 15px;
}