body{
    background:#333333;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin: 0;
}
  
#envoltura{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-165px;
    margin-top: -200px;
    width: 315px;
 
}
 
#contenedor{
    background-color:#505458;
    box-shadow: 3px 3px 10px 10px rgba(0,0,0,.8);
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
    border-radius:10px;
}
 
#cabecera{

    border-bottom: 5px solid #333;
    padding-top: 5px;
    height:25px;
    line-height:50px;
    text-align:center;
}
 
#cuerpo{
    background:#B9BCBF;
    border:solid #ccc;
    border-width: 0px 0;
    padding:15px 35px;
}
 
label{
    color: #666;
    font-weight: bold
}
 
input{
    border-radius:2px;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
    font:bold 12px Arial, Helvetica, sans-serif;
    height: 24px;
    line-height: 20px;
    padding:0 2px;
    width: 230px;
}
 
input#usuario{
    background:#ddf no-repeat 0 2px;
}
 
input#contrasenia{
    background:#ddf no-repeat 0 5px; 
}
 
.boton{
    background: #ccc;
    background: -webkit-linear-gradient(top,#fc6,#f63);
    background: linear-gradient(top,#fc6,#f63);
    color: #666;
    width: 240px;
}

.boton:active{
    position: relative;
    top: 3px;
}
 
#pie{
    border-top: 5px solid #333;
    color: #fff;
    font-size: 11px;
    height: 25px;
    line-height: 24px;
    text-align: center;
}
 
form,p{
    margin:0;
}
 
p{
 padding-bottom: 5px;
}
 
p#bot{
    padding-top: 10px;
}
